* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height: 760px;
    width: 1200px;
    background-color: #f1a5c4 !important;
    font-family:'Times New Roman', Times, serif;
    color: black;
    line-height: 1.6;
    margin-left: 5%;
}

.wrapper {
    padding-left: 5%;
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #f1a5c4;
    text-align: center;
    margin-left: 5%;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 1.5rem;
}

.nav-links li a {
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: var(--primary-color);
}

.hero {
    padding: 3rem 1rem;
    text-align: center;
    margin-left: 5%;
}

.hero h1 {
    color: var(--primary-color);
    font-size: 2.5rem;
}

.hero p {
    margin: 1rem auto;
    max-width: 600px;
    font-size: 1.2rem;
}
