* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height: 760px;
    width: 1200px;
    background-color: lightpink !important;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    line-height: 1.6;
}

header {
    background-color: lightpink;
    text-align: center;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 1.5rem;
}

.nav-links li a {
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: var(--primary-color);
}

.hero {
    padding: 3rem 1rem;
    text-align: center;
}

.hero h1 {
    color: var(--primary-color);
    font-size: 2.5rem;
}

.hero p {
    width: 150 px;
    height: auto;
    margin-top: 1.5rem;
}